.contract {
	padding: 0 15px;
}

.contract-card {
	box-shadow: 2px 4px 16px -4px rgba(71, 102, 68, 0.15);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.contract-card .name {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

.contract-card .line {
	font-size: 16px;
	color: rgba(51, 51, 51, 1);
	opacity: 0.8;
	margin-bottom: 15px;
}

.contract-card .fs {
	font-size: 16px;
	color: rgba(51, 51, 51, 0.6);
	font-weight: 600;
}

.contract-card .fs span {
	color: rgba(15, 180, 4, 1);
	opacity: 1;
}

.contract-card .content {
	text-align: justify;
	padding: 0 10%;
	max-height: 230px;
	overflow: hidden;
	color: initial;
	line-height: 24px;
}

.contract-card .content2 {
	text-align: justify;
	padding: 0 10%;
	color: initial;
	line-height: 24px;
}

.contract-card .content p,
.contract-card .content2 p {
	margin-bottom: 10px;
}

.contract-card .tag {
	text-align: center;
	background: rgba(235, 235, 235, 1);
	margin: -10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px 10px 0 0;
}
